<div style="padding:20px 0;border-bottom:1px solid #eee">
			<strong>Speech-To-Text Inference</strong>: 
			<br />
			<br />
			<div style="font-size: 2em">
				<%= snippet.name %>
			</div>
			<br />
			<br />
			Audio file
			<br />
			<%= render partial: "snippets/player", locals: {snippet: snippet} %>
</div>